.contenedor_create_class{
    position: relative;
}
.menu_dropdowns{
    color: #ffffff;
    position: relative;
    margin-top: 70px;
    margin-left: 90px;
    width: 300px;
    height: 50px;
}
.menu_dropdowns:before{
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #ff9a04;
    border-top: 2px solid #EFF3F5;
    border-right: 2px solid #EFF3F5;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.dropdown.active::before{
    top: 22px;
    transform: rotate(-225deg);
}
.dropdown input{
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #EFF3F5;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 05);
    padding: 12px 20px;
    border-radius: 10px;
}
.dropdown .option{
    color: #000000;
    position: relative;
    top: 70px;
    width: 100%;
    background: #EFF3F5;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    margin-bottom: 15px;
}
.dropdown.active .option{
    display: block;
}
.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
}
.dropdown .option div:hover{
    background: #ff9a04;
}

/* Card JS */

.container_card{
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.card.active{
    display: block;
}

.card{
    width: 300px;
    right: 60px;
    position: relative;
    margin: 20px;
    transition: all 300ms;
    border-radius: 20px;
    display: none;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}
.card:hover .info_description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}
.card:hover .img_card{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.img_card{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.img_card img{
    font-size: 150px;
    max-width: 100%;
    max-height: 100%;
}

.info_description{
    width: 100%;
    height: 220px;
    color: #000000;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}
.info_description p{
    font-size: 14px;
    margin-top: 10px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

/* Class Element List */

.body_box{
    position: relative;
    right: 0;
    top: 0;
}
.box{
    width: 450px;
}
.box h2{
    color: #000000;
    background: #ff9a04;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box ul{
    position: relative;
    background: #EFF3F5;
    max-height:400px;
    overflow-x:hidden;
    overflow-y:auto;
}
.box ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #EFF3F5;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
}
.box ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #ff9a04;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #000000;
}
.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #ff9a04;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}
.box ul li:hover span{
    background: #ffffff;
    color: #000000;
}

/* Element of database */
.dropdown2{
    color: #ffffff;
    position: absolute;
    margin-top: 70px;
    width: 300px;
    height: 50px;
    left: 0px;
}
.dropdown2 .option2{
    color: #000000;
    position: absolute;
    top: 10px;
    width: 100%;
    background: #EFF3F5;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 05);
    border-radius: 10px;
    max-height:500px;
    overflow-x:hidden;
    overflow-y:auto;
    display: none;
}
.dropdown2.active .option2{
    display: block;
}
.dropdown2 .option2 div{
    padding: 12px 20px;
    cursor: pointer;
}
.dropdown2 .option2 div:hover{
    background: #ff9a04;
}
.button_error{
    background: #C30000;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    
}
.button_error:hover{
    background: #960000;
}

.button_text, .button_icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #ffffff;
    height: 100%;
}

.button_icon{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}

.button_save{
    background: #ff9a04;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
}
.button_save:hover{
    background: #E18905;
}

.button_clear_container{
    margin: 10px;
}
.button_clear{
    background: #C30000;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    display: none;
    width: 30px;
}
.button_clear.active{
    display: block;
}
.button_clear:hover{
    background: #960000;
}
.button_icon_mini{
    display: inline-flex;
    align-items: center;
    font-size: 1.5em;
    color: #ffffff;
    height: 100%;
}


/* --- --- CAROUSEL --- --- */
.carousel{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 400px;
    background: #ff9a04;
}
.carousel h3{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.carousel__contenedor {
	position: relative;
}
.carousel__elemento img{
    cursor: pointer;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #ffffff;
	opacity: 20%;
    background: #000000;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}
}
